.navBar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: rgb(108, 119, 119);
    color: azure;
    justify-content: space-around;
    margin-top: 10px;
}

.menu .lista {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.lista {
    font-size: 30px;
    position: relative;
    display: block;
    text-decoration: none;
}